.about-us {
    font-family: Arial, sans-serif;
    background-color: mintcream;
    color: #568203;
}

.about-header {
    background-color: #5ab650;
    color: white;
    text-align: center;
    padding: 2px;
}

.about-header h1 {
    margin: 0;
    font-size: 3em;
}

.about-header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.mission-vision {
    padding: 40px 0;
}

.mission-vision h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.mission-vision p {
    font-size: 1.1em;
    line-height: 1.5;
}

.values {
    background-color: mintcream;
    padding: 20px 0;
}

.values h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

.values .col-md-4 {
    margin-bottom: 20px;
}

.our-team {
    padding: 40px 0;
    background-color: mintcream;
}

.our-team .team-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.facilities {
    padding: 40px 0;
}

.facilities img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 1.1em;
}